body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    text-align: center;
    padding: 20px;
}

.card-photo img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.card-details {
    margin-top: 15px;
}

.card-details h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.card-details p {
    color: gray;
    font-size: 0.9em;
}

.card-buttons {
    margin-top: 20px;
}

.card-buttons button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-buttons button:hover {
    background-color: #0056b3;
}
